body {
  text-align: center;
  /* background-image: url(background.jpg); */
  background-color: #4da167;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.panel-container {
  display: flex;
  margin: 0 0;
}

.panel-left {
  background-color: white;
  color: black;
  margin: 6px;
  width: 50%;
}

.panel-right {
  margin: 6px;
  width: 50%;
}

.giph-panel {
  margin: 0px;
  width: 100%;
  background-color: cornflowerblue;
}

button {
  padding: 8px 20px;
  border-radius: 5px;
}

.button-warning{
  background-color: #F0D8AB;
}

select {
  padding: 8px 20px;
  border-radius: 5px;
}

img {
  background-color: #fcbabd;
  border-radius: 100%;
}

textarea {
  padding: 8px;
  border-radius: 5px;
  min-width: 250px;
  width: 100%;
  border: 1px solid #bbbbbb;
  height: 100px;
  resize: none;
}

.event-table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}

.event-table tr:nth-child(even)
{
  background-color:#e3ebfa;
}

.event-table td {
  padding: 4px;
  text-align: center;
}

.event-table th {
  color: #ffffff;
  background-color: darkblue;
  text-align: center;
}

#event-title {
  background-color: darkblue;
  padding: 8px;
  font-weight: bold;
  font-size: 15pt;
}

.page-heading {
  font-weight: bold;
}



@media only screen and (max-width: 998px) {

  .panel-container {
    display: flex;
    flex-direction: column;
    margin: 0 0;
  }

  .panel-left {
    width: 100%;
    float: none;
  }

  .panel-right {
    width: 100%;
    float: none;
  }
}